.click-button {
  color: #fff;
  text-align: center;
  white-space: nowrap;
  border-radius: 50px;
  border: 8px solid rgba(215, 222, 248, 0.43);
  box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.34);
  background-color: #406ef7;
  align-self: center;
  margin-top: 45px;
  justify-content: center;
  padding: 27px 53px;
  font: 400 28px/104% Inter, -apple-system, Roboto, Helvetica, sans-serif;
  transition: transform 0.5s ease;
}
@media (max-width: 991px) {
  .div-14 {
    white-space: initial;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.click-button:hover {
  transform: scale(1.05);
}

/* .eazyresume {
  width: 70%;
} */

.main-content {
  background-color: #f7f7f8;
}
