.videocontent {
  border: 1px solid #cccccc50;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  margin: 1% 10% 0% 10%;
  background-color: white;
}

.title {
  padding: 5px 0px 10px 0px;
  margin: 0% 5% 0% 5%;
  font-size: 18px;
  font-weight: 600;
}

.subtitle {
  color: inherit;
  font-size: 15px;
  padding: 10px 0px 10px 0px;
  margin: 0% 5% 0% 5%;
}

iframe {
  border-radius: 20px;
  margin: 0% 5% 0% 5%;
}

.transcript {
  color: #4c515a;
  font-size: 13px;
  padding: 5px 0px 10px 0px;
  margin: 0% 5% 0% 5%;
}
