@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-sky-50 text-black;
}

/* Quill editor styling */

.ql-toolbar.ql-toolbar.ql-snow {
    @apply border-none;
    @apply p-0;
}

.ql-container.ql-container.ql-snow {
    @apply border-none;
}

/* Use margin instead of padding so that clicks go through */
.ql-editor.ql-editor {
    @apply mx-[15px] my-[12px];
    @apply p-0;
}

.ql-compact .ql-editor {
    @apply my-1;
}

.ql-snow.ql-toolbar button.ql-generateLetter {
    @apply w-fit;
}

/* Font config for Quill */
#toolbar-container .ql-font span[data-label=default]::before {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

#toolbar-container .ql-font span[data-label=sans-serif]::before {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

#toolbar-container .ql-font span[data-label=serif]::before {
    font-family: "Georgia", "Times New Roman", "serif";
}

#toolbar-container .ql-font span[data-label=monospace]::before {
    font-family: "Monaco", "Courier New", "monospace";
}

.ql-editor .ql-font-default {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.ql-editor .ql-font-sans-serif {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.ql-editor .ql-font-serif {
    font-family: "Georgia", "Times New Roman", "serif";
}

.ql-editor .ql-font-monospace {
    font-family: "Monaco", "Courier New", "monospace";
}