.account {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400; /* Font weight */
  font-size: 12px; /* Font size */
  width: 80%;
  margin-left: 20%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 13px; /* Font size */
}

form {
  background-color: white;
  padding: 19px 80px 19px 30px;
  border-radius: 20px;
}

.account-form {
  padding: 20px 50px 20px 50px;
  background-color: #f3f7fc;
}

.text-input {
  margin-right: 50px;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  margin-bottom: 10px;
  border: 1px solid #cccccc75;
}

.text-input:hover,
.text-input:focus {
  border: 1px solid #1677ff;
}

.identity {
  margin-bottom: 10px;
}

.submitbutton {
  margin-top: 10px;
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #0983fe;
}

.submitbutton:hover {
  background-color: #4096ff;
}
