.div-87 {
  background-color: #112437;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
}
@media (max-width: 991px) {
  .div-87 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-88 {
  display: flex;
  width: 100%;
  max-width: 990px;
  flex-direction: column;
  margin: 20px 0 33px;
}
@media (max-width: 991px) {
  .div-88 {
    max-width: 100%;
  }
}
.div-89 {
  display: flex;
  margin-left: 75px;
  width: 651px;
  max-width: 100%;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-90 {
    max-width: 100%;
  }
}
.div-91 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-91 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 41%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.div-92 {
  color: #8195aa;
  margin-top: 83px;
  white-space: nowrap;
  font: 400 14px/150% Inter, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-92 {
    margin-top: 40px;
    white-space: initial;
  }
}
.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 21%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-4 {
    width: 100%;
  }
}
.div-93 {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #8195aa;
  font-weight: 400;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-93 {
    margin-top: 36px;
    white-space: initial;
  }
}
.div-94 {
  color: #fff;
  font: 17px/100% Inter, sans-serif;
}
.div-95 {
  font-family: Inter, sans-serif;
  line-height: 100%;
  margin-top: 21px;
}
@media (max-width: 991px) {
  .div-95 {
    white-space: initial;
  }
}
.div-96 {
  font-family: Inter, sans-serif;
  line-height: 100%;
  margin-top: 24px;
}
@media (max-width: 991px) {
  .div-96 {
    white-space: initial;
  }
}
.column-5 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 20%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-5 {
    width: 100%;
  }
}
.div-97 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 14px;
  color: #8195aa;
  font-weight: 400;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-97 {
    margin-top: 36px;
    white-space: initial;
  }
}
.div-98 {
  color: #fff;
  font: 17px/100% Inter, sans-serif;
}
.div-99 {
  font-family: Inter, sans-serif;
  line-height: 100%;
  margin-top: 24px;
}
.div-100 {
  font-family: Inter, sans-serif;
  line-height: 100%;
  margin-top: 21px;
}
.div-101 {
  font-family: Inter, sans-serif;
  line-height: 100%;
  margin-top: 21px;
}
@media (max-width: 991px) {
  .div-101 {
    white-space: initial;
  }
}
.column-6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 18%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-6 {
    width: 100%;
  }
}
.div-102 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 14px;
  color: #8195aa;
  font-weight: 400;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-102 {
    margin-top: 37px;
    white-space: initial;
  }
}
.div-103 {
  color: #fff;
  font: 17px/100% Inter, sans-serif;
}
.div-104 {
  font-family: Inter, sans-serif;
  line-height: 100%;
  margin-top: 21px;
}
@media (max-width: 991px) {
  .div-104 {
    white-space: initial;
  }
}
.div-105 {
  font-family: Inter, sans-serif;
  line-height: 100%;
  margin-top: 21px;
}
.div-106 {
  font-family: Inter, sans-serif;
  line-height: 100%;
  margin-top: 24px;
}
.div-107 {
  color: #8195aa;
  align-self: end;
  white-space: nowrap;
  margin: 24px 118px 0 0;
  font: 400 14px/100% Inter, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-107 {
    margin-right: 10px;
    white-space: initial;
  }
}
.div-108 {
  background-color: #2e4760;
  display: flex;
  margin-top: 33px;
  height: 1px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-108 {
    max-width: 100%;
  }
}
.div-109 {
  align-self: center;
  display: flex;
  margin-top: 36px;
  width: 100%;
  max-width: 833px;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-109 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-110 {
  color: #fff;
  flex-grow: 1;
  flex-basis: auto;
  font: 400 17px/150% Inter, -apple-system, Roboto, Helvetica, sans-serif;
}
.div-111 {
  align-self: start;
  display: flex;
  margin-top: 7px;
  justify-content: space-between;
  gap: 20px;
}
.img-11 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 15px;
}
.img-12 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 15px;
}
.img-13 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 15px;
}
.img-14 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 15px;
}
