.landing-container {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 60px;
  padding: 2% 5% 2% 5%;
  margin: 2% 10% 0% 10%;
  border-radius: 10px;
  transition: all 0.2s ease;
  position: relative;
}

.landing-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.video-column {
  width: 60%;
}

.text-column {
  width: 100%;
}

.intro-title {
  font-size: 18px;
  color: #809bfc;
  padding: 0px;
  text-transform: uppercase;
}

.product-title {
  padding: 0px;
  color: #000933;
  line-height: 35px;
  font-size: 35px;
}

.product-subtitle {
  font-weight: 400;
  color: #000933;
}

.product-description {
  font-weight: 300;
  font-size: 16px;
  color: #797979;
}

iframe {
  border: none;
}

.audio-player {
  width: 100px; /* Adjust the width and height according to your design */
  height: 100px;
  border-radius: 50%; /* Make it round */
  background-color: #f0f0f0; /* Background color of the player */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("C:\Users\judit\Downloads\React\App\my-first-app\src\company_logos\airbnb"); Path to your headphone logo */
  background-size: 60%; /* Adjust the size of the logo */
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer; /* Show pointer cursor on hover */
}

.audio-player:hover {
  opacity: 0.8; /* Reduce opacity on hover */
}
